@using BestRestaurants.Models

@{
    Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4> Add a new restaurant:</h4>
@using (Html.BeginForm())
{
@Html.LabelFor(model => model.Name)
@Html.TextBoxFor(model => model.Name)
@Html.DropDownListFor(
    model => model.CuisineId, 
    (IEnumerable<SelectListItem>)ViewBag.Cuisines, 
    "Please select a cuisine"
)
<input type="submit" value="Add a new restuarant" />
}

